{{!-- Container for account manipulations --}}
<div class="account_container mt-4">
    <!-- Display successfully listing item message -->
    <div class="col-5 mx-auto">
        {{> message}}
    </div>
    <h1>Welcome to your Dashboard, {{loggedIn.username}}!</h1>
</div>

{{!-- --------------------------------------------------------------------------------- --}}
{{!-- <hr style="border: 3px solid rgb(31, 26, 34); max-width: 50%"> --}}
{{!-- --------------------------------------------------------------------------------- --}}

<div class="tab-content">
    <div class="tab-pane fade show active" id="items_forSale_tab">

        {{!-- Container for the post section --}}
        <div class="post_container">
            <h2 id="TableTitle">Your Image Posts</h2>

            {{#if post}}
            <table id="imageTable">
                <colgroup>
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 35%;">
                    <col span="1" style="width: 25%;">
                    <col span="1" style="width: 10%;">
                </colgroup>
                <tbody>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date Posted</th>
                    <th>Actions</th> 
                </tr>
                {{#each post}}
                <tr>
                    <th class="imagePrev"><img
                            src="/images/uploads_compressed/{{this.userid}}/postImages/{{this.filename}}" width="50"
                            height="60" /></th>
                    <th class="post_title"><span class="post_info"><a
                                href="/imageCard/{{this.pid}}">{{this.title}}</a></th>
                    <th class="post_description">{{this.description}}</th>
                    <th class="date_info"><span class="post_info">{{this.date}}</th>
                    <th class="dash_actions"><button><a href="/imageCard/{{this.pid}}/edit" id="edit_button">Edit</a></button>
                    &nbsp;&nbsp;<button id="del_b"><a href="/imageCard/{{this.pid}}/confirmDelete" id="delete_button">Delete</a></button></th>
                </tr>
                {{/each}}
                </tbody>
            </table>
            {{else}}
            <ul id="postImages" class="postImages px-0"></ul>
            <li class="table-row">
                No posts.
            </li>
            <ul></ul>
            {{/if}}
        </div>
    </div>
</div>